.container__section-title {
  position: relative;
  overflow: hidden;
  background-color: black;
  height: auto;

}
.container__logo img {
  max-width: 100%;
  opacity: 1;
  top: 0;
  z-index: 999;
} 
 .container__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
} 

.title__background{
  opacity: 0.2;
  position: absolute;
  width: 100%;  
  object-position: center;
  height: 100%; /* Para cobrir todo o contêiner pai */
  object-fit: cover;
  right: 0;
}

@media (min-width: 1025px) {

  .container__section-title {
    height: 50vh;  
  }
  
}