.container__results{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__title {
  text-align: center;
}
.card__title h1 {
  margin: 8vw auto;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: bolder;
  
  font-family: "Anton", sans-serif;   
  font-family: "PT Sans Caption", sans-serif;
  font-family: "Roboto", sans-serif; 
}
.card__title h1 p {
  font-size: 15px;
  color: #fb5a07;
  font-weight: bolder;
}
.card__results img {
  margin-bottom: 8vw;
  -webkit-box-shadow: 11px 7px 23px -3px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 11px 7px 23px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 11px 7px 23px -3px rgba(0, 0, 0, 0.27);
}
.card__results img {
  width: 200px;
  border-radius: 10px;
}

swiper-container{
  width: 80%;
  height: 100%;

}
swiper-container::part(bullet-active) {
  background-color: #fb5a07;
}
swiper-slide{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__slide{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vw;
}