<div class="container__feedbacks">
  <div class="feedback__title">
    <h1>FEEDBACKS</h1>
  </div>
  <div class="feedback__post">
    <div class="post__header">
        <div class="header__img">
            <img src="../../../assets/img/progresso4.jpeg" alt="resultado1" />
        </div>      
      <span>@_caiovinni</span>
    </div>
    <div class="post__content">
      <p>
        Bom dia irmão! Blz?
Nesse 1 ano de consultoria contigo só tenho a agradecer por toda sua dedicação a mim e sem dúvidas ter entrado para esse Team me trouxe muita vantagem na busca dos meus objetivos!
Contar com todo seu conhecimento não só teórico, mas também prático me fez evoluir anos em Meses e sem dúvidas os resultados falam por si só
E que venham mais anos de evolução não só física, você me trouxe muita evolução mental, hoje vejo o bodybuilding de forma totalmente diferente ! 
Gratidão Mestre 🙏🏾
      </p>
    </div>
  </div>
  <div class="feedback__post">
    <div class="post__header">
        <div class="header__img">
            <img src="../../../assets/img/progresso4.jpeg" alt="resultado1" />
        </div>      
      <span>@mtkaneko</span>
    </div>
    <div class="post__content">
      <p>
        Lembro que uma das primeiras frases que soltei pro Guima foi que eu sabia que 90% era dieta e 10% era treino.
Com o passar do tempo, vi que dieta era importante SIM, mas ela não me levaria onde eu queria até eu APRENDER a treinar.
Estou atualmente há 1 ano com o Guima e sinto que AGORA entendo a filosofia de treino.
Mover um ponto de um ponto A para um ponto B é fácil. Aprender a fazer isso com a carga máxima, pensando em cada repetição, sem se desesperar e sem perder pra dor foi algo CRUCIAL pra evolução em treinos.
O mais curioso é que, por mais que isso seja a base de um treinamento, é algo RARO de se ver em treinadores. Nunca tive com um que realmente explorasse esse limite do corpo. Eram muitas técnicas avançadas pra mim, que sequer sabia treinar.

Guima me ensinou a TREINAR. As mudanças no corpo estão vindo como consequencia.
      </p>
    </div>
  </div>
  <div class="feedback__post">
    <div class="post__header">
        <div class="header__img">
            <img src="../../../assets/img/progresso4.jpeg" alt="resultado1" />
        </div>      
      <span>@caio_grande</span>
    </div>
    <div class="post__content">
      <p>
        Ele e meom ef vemioefmefim femif fmfm m mf fm eowfmo ffm ofmf femofm
        fomewom fmfo fmofm
      </p>
    </div>
  </div>
</div>
