<div class="container__feedbacks">
  <div class="feedback__title">
    <h1>FEEDBACKS</h1>
  </div>
  <div class="feedback__post">
    <div class="post__header">
        <div class="header__img">
            <img src="../../../assets/img/progresso4.jpeg" alt="resultado1" />
        </div>      
      <span>@guzanotti_</span>
    </div>
    <div class="post__content">
      <p>
        Ele e meom ef vemioefmefim femif fmfm m mf fm eowfmo ffm ofmf femofm
        fomewom fmfo fmofm
      </p>
    </div>
  </div>
  <div class="feedback__post">
    <div class="post__header">
        <div class="header__img">
            <img src="../../../assets/img/progresso4.jpeg" alt="resultado1" />
        </div>      
      <span>@marcelo_k31</span>
    </div>
    <div class="post__content">
      <p>
        Ele e meom ef vemioefmefim femif fmfm mudvchdsu defshsduifhndsu dsfjisdfjnsi sdfnisdnsdifnsdi sdfnidsfnsdisd sdinsdfni mf fm eowfmo ffm ofmf femofm
        fomewom fmfo fmofm
      </p>
    </div>
  </div>
  <div class="feedback__post">
    <div class="post__header">
        <div class="header__img">
            <img src="../../../assets/img/progresso4.jpeg" alt="resultado1" />
        </div>      
      <span>@caio_grande</span>
    </div>
    <div class="post__content">
      <p>
        Ele e meom ef vemioefmefim femif fmfm m mf fm eowfmo ffm ofmf femofm
        fomewom fmfo fmofm
      </p>
    </div>
  </div>
</div>
