<div class="container__feedbacks">
  <div class="feedback__title">
    <h1>FEEDBACKS</h1>
  </div>
  <div class="feedback__post">
    <div class="post__header">
      <div class="header__img">
        <img src="./assets/img/fbcaio.jpeg" alt="resultado1" />
      </div>
      <span>@_caiovinni</span>
    </div>
    <div class="post__content">
      <p>
        Bom dia irmão! Blz? Nesse 1 ano de consultoria contigo só tenho a
        agradecer por toda sua dedicação a mim e sem dúvidas ter entrado para
        esse Team me trouxe muita vantagem na busca dos meus objetivos! Contar
        com todo seu conhecimento não só teórico, mas também prático me fez
        evoluir anos em Meses e sem dúvidas os resultados falam por si só E que
        venham mais anos de evolução não só física, você me trouxe muita
        evolução mental, hoje vejo o bodybuilding de forma totalmente diferente
        ! Gratidão Mestre 🙏🏾
      </p>
    </div>
  </div>
  <div class="feedback__post">
    <div class="post__header">
      <div class="header__img">
        <img src="./assets/img/user.jpg" alt="resultado1" />
      </div>
      <span>@mtkaneko</span>
    </div>
    <div class="post__content">
      <p>
        Lembro que uma das primeiras frases que soltei pro Guima foi que eu
        sabia que 90% era dieta e 10% era treino. Com o passar do tempo, vi que
        dieta era importante SIM, mas ela não me levaria onde eu queria até eu
        APRENDER a treinar. Estou atualmente há 1 ano com o Guima e sinto que
        AGORA entendo a filosofia de treino. Mover um ponto de um ponto A para
        um ponto B é fácil. Aprender a fazer isso com a carga máxima, pensando
        em cada repetição, sem se desesperar e sem perder pra dor foi algo
        CRUCIAL pra evolução em treinos. O mais curioso é que, por mais que isso
        seja a base de um treinamento, é algo RARO de se ver em treinadores.
        Nunca tive com um que realmente explorasse esse limite do corpo. Eram
        muitas técnicas avançadas pra mim, que sequer sabia treinar. Guima me
        ensinou a TREINAR. As mudanças no corpo estão vindo como consequencia.
      </p>
    </div>
  </div>
  <div class="feedback__post">
    <div class="post__header">
      <div class="header__img">
        <img src="./assets/img/fbamanda.jpeg" alt="resultado1" />
      </div>
      <span>@a.amandatavares</span>
    </div>
    <div class="post__content">
      <p>
        Estou amando fazer consultoria on-line com o Guima, vejo o quanto de
        dedicação e busca de resultado ele tem pelos seus alunos. Tive diversas
        experiências com personal, e de longe o Guima ao meu ver é o melhor do
        mercado, treinos que são aquele básico que funciona, explicações que
        fazem você realmente entender o por que daquele exercício para o
        resultado que você quer obter, e ele adapta o melhor para sua rotina e
        para seu objetivo então motiva a continuar e não parar por que a
        evolução fica nítida! Muitos dos personais que ja fechei (aliás até bem
        famosos ai das redes) apenas passava um treino, respondia algumas
        dúvidas mas não tinha uma preocupação de como você esta levando a sério
        aquela consultoria, apenas lembra de você na hora de pagar kkkk o Guima
        criou uma comunidade muito legal com os alunos dele e lá ele passa
        diversas dicas, conselhos e encontrinhos que fazem você se sentir parte
        de tudo aquilo! Fazer parte do Team realmente é diferenciado!!
      </p>
    </div>
  </div>
  <div class="feedback__post">
    <div class="post__header">
      <div class="header__img">
        <img src="./assets/img/user.jpg" alt="resultado1" />
      </div>
      <span>@_rafadarc</span>
    </div>
    <div class="post__content">
      <p>
        Acredito que a forma que ele acolheu cada aluno aqui tem uma coisa que é
        igual, amor pelo esporte, cada aluno se identificou com ele, a forma que
        esse cara me recebeu foi incrível, devo tudo a ele. Não é atoa que
        indico pra todo mundo mesmo, muita gente tem que conhecer quem é esse
        cara aí 🙏 8 meses que treino e já tive esse resultado absurdo o cara é
        um alienígena
      </p>
    </div>
  </div>
</div>
