<div class="container__prices">
  <div class="content__prices">
    <div class="prices__consultoria-online">
      <div class="prices__title">
        <h1>CONSULTORIA <span class="laranja">ONLINE</span></h1>
      </div>
      <div class="alinhamento-cards">

        <div class="card__prices">
          <div class="card__header">
            <h1>Trimestral</h1>
            <span>R$ 850</span>
          </div>
          <div class="card__vantagens">
            <ul>
              <li>Treino periodizado</li>
              <li>Estratégia nutricional</li>
              <li>Suporte diário</li>
              <li>Correções de vídeo via WhatsApp</li>
              <li>Feedbacks a cada 15 dias</li>
            </ul>
          </div>
        </div>
        <div class="card__prices">
          <div class="card__header">
            <h1>Semestral</h1>
            <span>R$ 1500</span>
          </div>
          <div class="card__vantagens">
            <ul>
              <li>Treino periodizado</li>
              <li>Estratégia nutricional</li>
              <li>Suporte diário</li>
              <li>Correções de vídeo via WhatsApp</li>
              <li>Feedbacks a cada 15 dias</li>
            </ul>
          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="botao-comprar">
    <a href="https://wa.me/5511987196769" target="_blank"
      ><button class="pulse-button">Fale conosco</button></a
    >
  </div>
</div>
